@page "/Tecnico/Create"
@inject TecnicoService tecnicoService
@inject TipoTecnicoService tipoTecnicoService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<EditForm Model="tecnicos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0" style="background-color white">

        <div class="card-header bg-primary text-center text-white py-2 rounded">
            <h3 style="font-weight: bold;" class="font-weight-bold">Registro de T&eacute;cnicos</h3>
        </div>

        <div class="card-body">
            @*TecnicoId*@
            <div class="mb-3">
                <label for="TecnicoId" class="form-label">T&eacute;cnicoId:</label>
                <InputNumber @bind-Value="tecnicos.TecnicoId" class="form-control" />
            </div>
            @*TipoTecnico*@
            <div class="mb-3">
                <label> Tipo de T&eacute;cnico: </label>
                <InputSelect @bind-Value="tecnicos.TipoTecnicoId" class="form-control">
                    <option value="0">Elija un tipo de t&eacute;cnico</option>
                    @foreach (var tipo in tiposTecnicos)
                    {
                        <option value="@tipo.TipoTecnicoId">@tipo.Descripcion</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => tecnicos.Sueldohora)" />
            </div>
            @*Nombres*@
            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="tecnicos.Nombres" class="form-control" />
                <ValidationMessage For="@(() => tecnicos.Nombres)" />
            </div>
            @*SueldoHora*@
            <div class="mb-3">
                <label for="SueldoHora" class="form-label">SueldoHora:</label>
                <InputNumber @bind-Value="tecnicos.Sueldohora" class="form-control" />
                <ValidationMessage For="@(() => tecnicos.Sueldohora)" />
            </div>
        </div>

        <div class="card-footer d-flex justify-content-lg-center text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span>Nuevo</button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span>Guardar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="Retroceder"><span class="bi bi-arrow-bar-left"></span>Retroceder</button>

            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos tecnicos { get; set; } = new Tecnicos();
    public List<TiposTecnicos> tiposTecnicos { get; set; } = new List<TiposTecnicos>();
    private bool existe = false;

    protected override async Task OnInitializedAsync()
    {
        tiposTecnicos = await tipoTecnicoService.Listar(t => true);
    }

    public async Task Nuevo()
    {
        tecnicos = new Tecnicos();
        existe = false;
    }
    public async Task Buscar()
    {
        existe = false;
        var encontrado = await tecnicoService.Buscar(tecnicos.TecnicoId);
        if (encontrado != null)
        {
            tecnicos = encontrado;
        }
        else
        {
            Nuevo();
        }
    }
    public async Task<bool> Validar()
    {
        existe = await tecnicoService.ExisteNombreTecnico(tecnicos.Nombres, tecnicos.TecnicoId);
        return existe;
    }
    public async Task Guardar()
    {
        if (await Validar())
        {
            toastService.Notify(new(ToastType.Success,
           iconName: IconName.None,
           title: "Validacion",
           helpText: "",
           message: "Ya Existe un técnico con ese nombre en la consulta."));
            return;
        }
        var guardado = await tecnicoService.Guardar(tecnicos);
        if (guardado)
        {
            toastService.Notify(new(ToastType.Success,
            iconName: IconName.None,
            title: "Guardado",
            helpText: "",
            message: "El técnico se a guardado correctamente."));
            Nuevo();
            Retroceder();
        }
    }
    public async Task Retroceder()
    {
        navigationManager.NavigateTo("/Tecnico/Index");
    }
}